---
// Import necessary components, modules and types
import MainLayout from '@/layouts/MainLayout.astro';
import CardBlog from '@components/ui/cards/CardBlog.astro';
import CardBlogRecent from '@components/ui/cards/CardBlogRecent.astro';
// import CardInsight from '@components/ui/cards/CardInsight.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { SITE } from '@data/constants';

import { contentfulClient } from '@/contentful/contentful';
import type { TypeBlogPostSkeleton, TypeHomepageSkeleton } from '@/contentful/generated';
import type { Asset } from 'contentful';
import { extractAssetUrl } from '@/contentful/extractAssetUrl';

const entries = await contentfulClient.getEntries<TypeBlogPostSkeleton>({
  content_type: 'blogPost',
});
const validEntries = entries.items.filter((item) => item.fields.cardImage);
// console.log(entries.items);
// Get all insights posts
const insightPosts: CollectionEntry<'insights'>[] = await getCollection('insights');

// Separate the most recent post from others
const mostRecentPost = validEntries[0];
const otherPosts = validEntries.slice(1);
const pageTitle: string = `Blog | ${SITE.title}`;

const homeEntries = await contentfulClient.getEntries<TypeHomepageSkeleton>({
  content_type: 'homepage',
  limit: 1,
});

const home = homeEntries.items[0];
---

<MainLayout
  title={pageTitle}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://screwfast.uk/blog',
    url: 'https://screwfast.uk/blog',
    name: 'Blog | ScrewFast',
    description:
      "Stay up-to-date with the latest trends and developments in the construction industry with insights from ScrewFast's team of industry experts.",
    isPartOf: {
      '@type': 'WebSite',
      url: 'https://screwfast.uk',
      name: 'ScrewFast',
      description:
        'ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.',
    },
    inLanguage: 'en-US',
  }}
>
  <section
    class="absolute left-0 top-0 flex h-[800px] w-screen items-center justify-center bg-cover bg-center"
    style=`background-image: url('${extractAssetUrl(home.fields.heroBanner)}');`
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <!-- Optional overlay for better text readability -->
    <div class="relative z-10 text-center text-white">
      <h1 class="text-4xl font-bold">{home.fields.title}</h1>
      <p class="mt-4 text-xl">{home.fields.description}</p>
      <a
        href={home.fields.actionLinkUrl}
        class="bg-blue-600 hover:bg-blue-700 mt-6 inline-block rounded px-6 py-3 font-semibold text-white"
        >{home.fields.actionLinkText}</a
      >
    </div>
  </section>
  <div class="h-[800px]"></div>
  <!--Most recent blog post-->
  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <CardBlogRecent blogEntry={mostRecentPost.fields} />
  </section>
  <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      {otherPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry.fields} />)}
    </div>
  </section>
  <!--Insights section-->
</MainLayout>
