---
// Import all required components and utilities
import { Image } from 'astro:assets';
import PrimaryCTA from '@components/ui/buttons/PrimaryCTA.astro';
import type { TypeBlogPostSkeleton } from '@/contentful/generated';
import type { Entry } from 'contentful';
import { extractAssetUrl } from '@/contentful/extractAssetUrl';

const { blogEntry, recentBlogLocale = '' } = Astro.props;

interface Props {
  blogEntry: Entry<TypeBlogPostSkeleton, undefined, string>['fields'];
  recentBlogLocale?: string;
}
---

<!-- Root container, which is divided into 2 grid column layout for larger screens -->
<div class="grid gap-8 sm:grid-cols-2 sm:items-center">
  <!-- Container for the blog post's cover image -->
  <div class="sm:order-2">
    <div class="relative rounded-lg pt-[50%] sm:pt-[100%]">
      <Image
        class="absolute start-0 top-0 size-full rounded-xl object-cover"
        src={extractAssetUrl(blogEntry.cardImage)}
        inferSize={true}
        alt={''}
        draggable={'false'}
        loading={'eager'}
        format={'avif'}
      />
    </div>
  </div>
  <!-- Container for the blog post's heading and read more button -->
  <div class="sm:order-1">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight"
    >
      <a
        class="outline-none ring-zinc-500 transition duration-300 hover:text-orange-400 focus-visible:ring dark:text-neutral-300 dark:ring-zinc-200 dark:hover:text-neutral-50 dark:focus:outline-none"
        href={recentBlogLocale !== '' ? `/${recentBlogLocale}/blog/${blogEntry.slug}/` : `/blog/${blogEntry.slug}/`}
      >
        {blogEntry.title}
      </a>
    </h2>
    <p class="mt-4 max-w-2xl text-pretty text-lg leading-8 text-neutral-700 dark:text-neutral-300">
      {blogEntry.description}
    </p>
    <div class="mt-5">
      <PrimaryCTA
        url={recentBlogLocale !== '' ? `/${recentBlogLocale}/blog/${blogEntry.slug}/` : `/blog/${blogEntry.slug}/`}
        title="閱讀更多"
        data-astro-prefetch
      />
    </div>
  </div>
</div>
